
body{


    text-align: center;
    background-color: #E3E7B3;



}


tr:hover{

    background-color: #F6FFE2;
}
td:hover{

    background-color: #D77948;
}

table{

    width: 100%;



}
th{
    border: 1px solid #D77948;
}

td {
    border: 1px solid #D77948;
}